/*      Basic CSS       */
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*      Navbar      */
nav{
    background: #636b6f !important;
}
.navbar{
    width: 100%;
    padding: 0 0.7rem !important;
}
.navbar-brand{
    padding: 3px 0 3px 0 !important;
    display: flex !important;
    align-items: center;
}
.navbar-nav{
    padding: 0.25rem 0;
}
.logo-name{
    padding-left: .5rem;
}
.nav-link{
    color: #fff !important;
    font-weight: 500;
    line-height: 1.7;
    border-radius: 20px;
}
.dropdown{
    position: static !important;
}
.dropdown-menu{
    margin-top: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #f5f5f5 !important;
}
.gradient{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    z-index: 1;
}
.gradient:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}


.fa-plus{
    float: right;
    margin-right: 1rem;
    transition: transform .2s;
}
.navbar-nav > .show .fa-plus{
    transition: transform .2s;
    transform: rotate(45deg);
}
.menu1-mob,
.menu2-mob{
    text-align: center;
    padding: 0 1rem 0.5rem 1rem;
}
.menu1-mob > .dropdown-header{
    text-align: center !important;
    padding: 0.4rem 1.5rem 0 1.5rem !important;
}
.menu1-mob .dropdown-item,
.menu2-mob .dropdown-item{
    background-color: white !important;
    border-radius: 15px !important;
    margin-top: 0.5rem;
}

.dropdown-item .fas, .far{
    float: left !important;
    padding-top: 4px;
}
.dropdown-item:active{
    background-color: #636b6f !important;
    color: #fff !important;
}
.menu1-desk{
    display: none;
}



/*      Slider          */
.carousel-item{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}
.carousel-item#firstSlide{
    background-image: url('images/image1_mob.jpg');
}
.carousel-item#secondSlide{
    background-image: url('images/image2_mob.jpg');
}
.carousel-item#thirdSlide{
    background-image: url('images/image3_mob.jpg');
}

.carousel-control-prev,
.carousel-control-next{
    margin-top: 3.4em;
    filter: invert(100%);
}


/*      Slider Caption     */
.carousel-caption{
    color: #000 !important;
    padding-bottom: 0.4em !important;
}
.carousel-caption h5#saleText{
    color: #000;
    margin-bottom: 0.1rem;
}
.btn{
    background-color: #636b6f !important;
    color: #fff !important;
    margin-bottom: 0.7rem;
}
.btn#join{
    font-size: 1.2em !important;
}
.carousel-indicators li{
    border-bottom: 0 solid transparent !important;
    background-color: #636b6f !important;
}
ol{
    margin-bottom: 1rem !important;
}


/*      Services        */
.services{
    background-color: rgb(238, 238, 238);              /*  old #F3F5FB */
    color: #000;
    padding-bottom: 0.5rem;
}

h1#Hservices{
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-family: "Acer Foco", "Trebuchet MS", Arial, sans-serif;
    margin-bottom: 0;
    padding: 1rem 0;
}
.imgpart img{
    width: calc(1rem + 20vw);
    border-radius: 50%;
}
.delivery,
.guarantee,
.pay,
.support{
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    background-color: white;
}
.imgpart{
    align-self: center;
    justify-self: center;
}


/*      Footer      */
.footer{
    background-color: #636b6f;
    color: #fff;
    width: 100%;
    min-height: 20vh;
}

/*      social media icons     */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social{
    padding-top: 1rem;
}
.social h3{
    text-align: center;
}
.list{
    margin: 1rem 0 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}
.list li{
    position: relative;
    list-style: none;
    width: 3rem;
    height: 3rem;
    margin: 0.7rem  20px;
    transform-style: preserve-3d;
    transform: rotate(0) skew(0);
}
.list li span{
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: rgba(255,255,255,0.2);
    font-size: 1.8em;
    transition: 0.2s;
}
.list li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.list li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.list li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}
.list li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}
.list li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}
.list li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: 0.2;
}

.list li:nth-child(1):hover span{
    background-color: #0088cc;
}
.list li:nth-child(2):hover span{
    background-color: #e4405f;
}
.list li:nth-child(3):hover span{
    background-color: #3b5999;
}
.list li:nth-child(4):hover span{
    background-color: #0077b5;
}

.list li:nth-child(1) span{
    background-color: #0088cc;
    color: #fff;
}
.list li:nth-child(2) span{
    background-color: #e4405f;
    color: #fff;
}
.list li:nth-child(3) span{
    background-color: #3b5999;
    color: #fff;
}
.list li:nth-child(4) span{
    background-color: #0077b5;
    color: #fff;
}

/*      Links in footer     */
.box a{
    text-decoration: none;
    color: #fff;
}
.box a:hover{
    text-decoration: none;
    color: #fff;
}

.box h6{
    padding-bottom: 1rem;
    margin-top: 1.5rem;
}
.contact h6#Hcontact{
    text-align: center !important;
}
.box{
    padding: 0 1.3rem 0 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.7 !important;
}
.sitemap{
    padding-right: calc((100vw - 244px)/2);
}


.sitemap,
.links,
.contact{
    display: flex;
    flex-direction: column;
}
.contact{
    width: 100%;
}
.contact span{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
                sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400 !important;
}
.contact .inspan{
    margin-right: 1em;
    display:inline-block;
    line-height: 1.7 !important;
}
.copyright{
    margin-top: 1rem;
    background-color: #3f484c;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*      Media queries       */
@media (min-width: 480px) {         /*  smart phones, Android phones, landscape iPhone   */
    .list{                          /*  social media icons one row    */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 0 calc((100vw - 390px)/2);
    }
    .box{
        padding: 0 1rem 0 1rem;
        justify-content: space-around;
    }
    .box h6{
        margin-bottom: 0;
    }
    .sitemap{
        padding-right: 0px;
    }
    .contact{
        width: calc(100vw - 234px - calc(8.32vw));
        max-width: 215px;
    }
    .contact h6#Hcontact{           /*  Fix contact div in footer (make it one row)   */
        text-align: left !important;
    }
}


@media (min-width: 600px){      /*  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)    */
    .services{                  /*  services as 2 columns   */
        padding: 0 1rem 2rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .delivery,
    .guarantee,
    .pay,
    .support{
        margin: 0;
    }
    .imgpart img {
        width: calc(1rem + 10vw);
    }
    .box{
        padding: 0;
    }
}

@media (min-width: 857px) and (max-width: 1024px) { /*  tablet, landscape iPad, lo-res laptops ands desktops    */
    .imgpart img {
        width: calc(1rem + 7vw);
    }
    .contact{
        max-width: 274px;
    }
}

@media (min-width: 961px){   /*  tablet, landscape iPad, lo-res laptops ands desktops    */
    .carousel-item{
        height: 100vh;
    }
    .carousel-item#firstSlide{
        background-image: url('images/image1_desk.jpg');
    }
    .carousel-item#secondSlide{
        background-image: url('images/image2_desk.jpg');
    }
    .carousel-item#thirdSlide{
        background-image: url('images/image3_desk.jpg');
    }
    .carousel-caption h5#saleText{
        display: none;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    .carousel-control-next,
    .carousel-control-prev {
        opacity: 0.8 !important;
    }
}
@media (min-width: 992px){   /*  Bootstarap version     */
    .nav-link:hover{
        background-color: white !important;
        color: black !important;
    }
    .gradient:hover{
        color: #fff !important;
    }
    .dropdown:hover > .dropdown-menu {
        display: block;
    }


    /*  Laptop version of dropdown menus    */
    .menu1-mob,
    .menu2-mob,
    .fa-plus{
        display: none !important;
    }
    .dropdown-menu{
        width: 100vw;
        height: 70vh;
    }
    .menu1-desk{
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: 4fr 3fr;
        row-gap: 1rem;
        justify-items: center;
        align-items: center;

    }
    .laptop-types-list{
        width: 100%;
        height: 100%;
        grid-row: 1 / 3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
    .laptop-types-list li{
        width: 100%;
    }
    .laptop-types-list > .dropdown-header{
        font-size: 1rem;
        padding: 0rem 1rem 1rem 1rem;
        font-weight: 600;
    }
    .laptop-types-list .dropdown-item{
        padding: 0.5rem 1rem;
        font-weight: 500 !important;
        border-radius: 15px;   
    }
    .laptop-types-list .dropdown-item:hover{
        color: #fff;
        background-color: #636b6f;
        transition: background-color 2s, color 1s;
        transform-origin: right;   
    }

    .dropdown-item .icons{
        float: left;
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .menu-image img{
        position: absolute;
        top: 5%;
        right: calc((100vw - 437.5px) * 2 / 7);

        /* visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 2s linear; */
        display: none;
        width: 250px;
        height: 200px;
    }
    .menu-image .logo-image{
        /* visibility: visible;
        opacity: 1; */
        display: block;
    }
    .menu-description{
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 1.7;
    }
    .menu-description ul{
        display: none;
    }
   

}

@media (min-width: 1025px) {        /*  big landscape tablets, laptops, and desktops    */
    .imgpart img {
        width: calc(0.5rem + 7vw);
    }
    .contact{
        max-width: 366px;
    }
}
























