/*      Basic CSS       */
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*      Navigation      */
nav{
    background: #636b6f !important;
}

.navbar{
    width: 100%;
}

/*      Slider          */
.carousel-item{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}

.carousel-control-prev,
.carousel-control-next{
    margin-top: 3.4em;
    filter: invert(100%);
}

/*      Caption     */
.carousel-caption{
    color: #000 !important;
    padding-bottom: 0.4em !important;
}
.btn{
    background-color: #636b6f !important;
    color: #fff !important;
    margin-bottom: 0.7rem;
}
.btn#join{
    font-size: 1.2em !important;
}
.carousel-indicators li{
    border-bottom: 0 solid transparent !important;
    background-color: #636b6f !important;
}
ol{
    margin-bottom: 1rem !important;
}

/*      Services    */
.services{
    background-color: #e3e3e1;
    color: #3f484c;
    text-align: center;
    padding: 2rem 0 0.5rem 0;
}
.card-deck{
    margin: 0;
    padding: 1rem;
    background-color: #e3e3e1;
    color: #fff;
}
.card-header{
    background-color: #3f484c !important;
}
.card{
    background-color: #636b6f !important;   /*Navbar color*/
}
.card-body{
    padding: 1rem !important;
}

.card-body img{
    width: calc(2rem + 60vw) !important;
    padding-bottom: 1.1rem;
}

@media (min-width: 576px) {
    .card-deck{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .card-body img{
        width: calc(2rem + 10vw) !important;
    }

}

/*      Footer      */
.footer{
    background-color: #636b6f;
    color: #fff;
    width: 100%;
    min-height: 20vh;
}

/*      social     */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social{
    padding-top: 1rem;
}
.social h3{
    text-align: center;
}
.list{
    margin: 1rem 0 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}
.list li{
    position: relative;
    list-style: none;
    width: 3rem;
    height: 3rem;
    margin: 0.7rem  20px;
    transform-style: preserve-3d;
    transform: rotate(0) skew(0);
}
.list li span{
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: rgba(255,255,255,0.2);
    font-size: 1.8em;
    transition: 0.2s;
}
.list li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.list li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.list li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}
.list li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}
.list li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}
.list li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: 0.2;
}

.list li:nth-child(1):hover span{
    background-color: #0088cc;
}
.list li:nth-child(2):hover span{
    background-color: #e4405f;
}
.list li:nth-child(3):hover span{
    background-color: #3b5999;
}
.list li:nth-child(4):hover span{
    background-color: #0077b5;
}

.list li:nth-child(1) span{
    background-color: #0088cc;
    color: #fff;
}
.list li:nth-child(2) span{
    background-color: #e4405f;
    color: #fff;
}
.list li:nth-child(3) span{
    background-color: #3b5999;
    color: #fff;
}
.list li:nth-child(4) span{
    background-color: #0077b5;
    color: #fff;
}



















