/*      Basic CSS       */
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*      Navbar      */
nav{
    background: #636b6f !important;
}
.navbar{
    width: 100%;
    padding: 0 1rem !important;
}
.navbar-brand{
    padding: 4px 0 !important;
    display: flex !important;
    margin-right: 0 !important;
    align-items: center;
}
.nav-item{
    margin: 0;
}



.navbar-collapse{
    box-shadow:
        10px 0 50px rgba(0, 0, 0, 0.1), 
        1px 0 5px rgba(0, 0, 0, 0.1), 
        1px 0 10px rgba(0, 0, 0, 0.1);
    
    margin-bottom: 0.5rem;     
}


.menu-button{
    display: block;
    position: relative;
}
.navbar-toggler{
    display: block;
    padding: 1.5rem 1.5rem !important;
    border: none !important;
}
.menu-button span{
    position: absolute;
    display: block;
    background: #fff;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    left: -7px;
    transition: all 0.3s;
}
.menu-button span:nth-child(1){
    top: -13px;
}
.menu-button span:nth-child(2){  
    top: -1.5px;
}
.menu-button span:nth-child(3){
    top: 10px;
}

.first-line{
    transform: translateX(0) translateY(13px) rotate(45deg);
}
.second-line{
    opacity: 0;
    transform: translateX(30px);
}
.third-line{
    transform: translateX(0) translateY(-10px) rotate(135deg);
}





.nav-link .fa-chevron-down{
    display: none;
    position: absolute;
    top: 37px;
}
.shop-link .fa-chevron-down{
    left: 266.2px;
}
.services-link .fa-chevron-down{
    left: 354.8px;
}
.navbar-nav .fa-chevron-down{
    transition: transform .2s;
    transform: rotate(0deg);
}
.navbar-nav > .show .fa-chevron-down{
    transition: transform .2s;
    transform: rotate(180deg);
}

.logo-name{
    padding-left: calc((100vw - 118.531px - 32px) / 2 - 70px);
    font-family: 'Italianno', cursive;
    letter-spacing: 2px !important;
    font-size: 2rem;
    font-weight: 500;
}

.navbar-nav:nth-child(1) .nav-item:nth-child(4){
    display: none;
}
.navbar-nav:nth-child(1) .nav-item:nth-child(1) .nav-link,
.navbar-nav:nth-child(1) .nav-item:nth-child(2) .nav-link{
    padding-left: 30px;
}

.nav-link{
    color: #fff !important;
    text-align: center;
    font-weight: 500;
    line-height: 1.7;
    border-radius: 20px;
}
.navbar-toggler:focus, 
.navbar-toggler:hover{
    outline: none;
}
.dropdown{
    position: static !important;
}
.dropdown-menu{
    padding: 0 !important;
    margin-top: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #f5f5f5 !important;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
.dropdown.show .dropdown-menu {
    transition: all 0.7s;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}
.dropdown-menu{
    box-shadow:
        0 1px 10px rgba(0, 0, 0, 0.08),
        0 2px 30px rgba(0, 0, 0, 0.2),
        0 4px 80px rgba(0, 0, 0, 0.3);
}


.dropdown-item .icons{
    float: left;
    width: 1.5rem;
    height: 1.5rem;
}


.fa-plus{
    float: right;
    margin-right: 9px;
    transition: transform .2s;
    padding-top: 5.5px;
}
.navbar-nav > .show .fa-plus{
    transition: all .2s;
    margin-right: 7px;
    transform: rotate(45deg);
}

.menu1-mob,
.menu2{
    text-align: center;
    padding: 1rem 1rem 1.2rem 1rem;
}
.menu1-mob > .dropdown-header,
.menu2 > .dropdown-header{
    text-align: center !important;
    padding: 0 0 0.4rem 0 !important;
}
.menu1-mob .dropdown-item,
.menu2 .dropdown-item{
    background-color: white;
    border-radius: 15px !important;
    margin-top: 0.5rem;
    padding: .25rem 1rem;
}

.dropdown-item .fas, 
.dropdown-item .far{
    float: left !important;
    padding-top: 4px;
}
.dropdown-item:active{
    background-color: #636b6f !important;
    color: #fff !important;
}
.menu1-desk{
    display: none;
}




/*      Slider          */
.carousel-item{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}
.carousel-item#firstSlide{
    background-image: url('images/image1_mob.jpg');
}
.carousel-item#secondSlide{
    background-image: url('images/image2_mob.jpg');
}
.carousel-item#thirdSlide{
    background-image: url('images/image3_mob.jpg');
}

.carousel-control-prev,
.carousel-control-next{
    margin-top: 3.4em;
    filter: invert(100%);
}


/*      Slider Caption     */
.carousel-caption{
    color: #000 !important;
    padding-bottom: 0.4em !important;
}
.carousel-caption h5#saleText{
    color: #000;
    margin-bottom: 0.1rem;
}
.btn{
    background-color: #636b6f !important;
    color: #fff !important;
    margin-bottom: 0.7rem;
}
.btn#join{
    font-size: 1.2em !important;
}
.carousel-indicators li{
    border-bottom: 0 solid transparent !important;
    background-color: #000 !important;
}
ol{
    margin-bottom: 1rem !important;
}


/*      Services        */
.services{
    background-color: rgb(238, 238, 238);              /*  old #F3F5FB */
    color: #000;
    padding-bottom: 1rem;
}
.services .support{
    margin-bottom: 0 !important;
}

h1#Hservices{
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin-bottom: 0;
    padding: 1.5rem 0;
}
.imgpart img{
    width: calc(1rem + 20vw);
    border-radius: 50%;
}
.delivery,
.guarantee,
.pay,
.support{
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    background-color: white;
}
.imgpart{
    align-self: center;
    justify-self: center;
}


/*      Footer      */
.footer{
    background-color: #636b6f;
    color: #fff;
    width: 100%;
    min-height: 20vh;
}

/*      social media icons     */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social{
    padding-top: 1.5rem;
}
.social h3{
    text-align: center;
    margin-bottom: 0;
}
.list{
    margin-top: 1.4rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 calc((100vw - 240px)/2);
}
.list li{
    position: relative;
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 10px;
    transform-style: preserve-3d;
    transform: rotate(0) skew(0);
}
.list li span{
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: rgba(255,255,255,0.2);
    font-size: 1.5em;
    transition: 0.2s;
}
.list li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.list li:hover span:nth-child(5){
    transform: translate(20px, -20px);
    opacity: 1;
}
.list li:hover span:nth-child(4){
    transform: translate(15px, -15px);
    opacity: 0.8;
}
.list li:hover span:nth-child(3){
    transform: translate(10px, -10px);
    opacity: 0.6;
}
.list li:hover span:nth-child(2){
    transform: translate(5px, -5px);
    opacity: 0.4;
}
.list li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: 0.2;
}

.list li:nth-child(1):hover span{
    background-color: #0088cc;
}
.list li:nth-child(2):hover span{
    background-color: #e4405f;
}
.list li:nth-child(3):hover span{
    background-color: #3b5999;
}
.list li:nth-child(4):hover span{
    background-color: #0077b5;
}

.list li:nth-child(1) span{
    background-color: #0088cc;
    color: #fff;
}
.list li:nth-child(2) span{
    background-color: #e4405f;
    color: #fff;
}
.list li:nth-child(3) span{
    background-color: #3b5999;
    color: #fff;
}
.list li:nth-child(4) span{
    background-color: #0077b5;
    color: #fff;
}

/*      Links in footer     */
.box a{
    text-decoration: none;
    color: #fff;
}
.box a:hover{
    text-decoration: none;
    color: #fff;
}

.box h6{
    font-size: 1.1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
.contact h6#Hcontact{
    text-align: center !important;
}
.box{
    padding: 0 1rem;
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.7 !important;
}


.sitemap,
.links,
.contact{
    display: flex;
    flex-direction: column;
}
.contact{
    margin-top: 1rem;
    width: 100%;
}
.contact span{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
                sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400 !important;
}
.contact .inspan{
    margin-right: 1rem;
    display: inline-block;
    line-height: 1.7 !important;
}
.contact .invisible-phone-icon{
    display: none;
}
.contact .fas,
.contact .far{
    line-height: 1.7 !important;
}
.google-map{
    display: none;
}

.copyright{
    margin-top: 1rem;
    background-color: #3f484c;
    height: 2rem;/*6vh*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/*      Media queries       */
@media (min-width: 490px) {         /*  smart phones, Android phones, landscape iPhone   */
    .box{
        padding: 0 1rem 0 1rem;
        justify-content: space-between;
    }
    .box h6{
        margin-bottom: 0;
    }
    .sitemap{
        padding-right: 0px;
    }
    .contact{   /*  Fix contact div in footer (make it one row)   */
        margin-top: 0;
        max-width: 215px;
    }
    .contact h6#Hcontact{
        text-align: left !important;
    }
}


@media (min-width: 600px){      /*  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)    */
    .navbar{
        padding: 0 1.5rem !important;
    }
    .logo-name{
        padding-left: calc((100vw - 118.531px - 48px) / 2 - 70px);
    }
    .services{                  /*  services as 2 columns   */
        padding: 0 1.5rem 1.5rem 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
    }
    .delivery,
    .guarantee,
    .pay,
    .support{
        margin: 0;
    }
    .imgpart img {
        width: calc(1rem + 10vw);
    }
    .box{
        padding: 0 1.5rem;
    }
    .copyright{
        margin-top: 1.5rem;
    }
}

@media (min-width: 857px) and (max-width: 1024px) { /*  tablet, landscape iPad, lo-res laptops ands desktops    */
    .imgpart img {
        width: calc(1rem + 7vw);
    }
    .contact{
        max-width: 270.4px;
    }
}

@media (min-width: 961px){   /*  tablet, landscape iPad, lo-res laptops ands desktops    */
    .carousel-item{
        height: 100vh;
    }
    .carousel-item#firstSlide{
        background-image: url('images/image1_desk.jpg');
    }
    .carousel-item#secondSlide{
        background-image: url('images/image2_desk.jpg');
    }
    .carousel-item#thirdSlide{
        background-image: url('images/image3_desk.jpg');
    }
    .carousel-caption h5#saleText{
        display: none;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    .carousel-control-next,
    .carousel-control-prev {
        opacity: 0.8 !important;
    }
    .contact{
        max-width: 368px;
    }
}
@media (min-width: 992px){   /*  Bootstarap version     */
    .navbar{
        padding: 0 1rem 0 1.5rem !important;
    }
    .nav-link:hover{
        background-color: white !important;
        color: black !important;
    }
    .nav-link .fa-chevron-down{
        display: block;
    }
    .navbar-nav:nth-child(1) .nav-item:nth-child(1) .nav-link,
    .navbar-nav:nth-child(1) .nav-item:nth-child(2) .nav-link{
        padding-left: 0.5rem;
    }
    .navbar-nav:nth-child(1) .nav-item:nth-child(4){
        display: block;
    }
    .navbar-nav:nth-child(2) .nav-item:nth-child(3){
        display: none;
    }
    .logo-name{
        padding-left: 0.1rem;
    }
    .navbar-brand{
        margin-right: 0.5rem !important;
    }
    
    .navbar-collapse{
        box-shadow: none;
        margin-bottom: 0;       
    }

    /*  Laptop version of dropdown menus    */
    .menu1-mob,
    .fa-plus{
        display: none !important;
    }
    
    .dropdown-menu{
        width: 100vw;
        height: 377px;
    }
    .menu1-desk{
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: 4fr 3fr;
        row-gap: 1rem;
        justify-items: center;
        align-items: center;
    }
    .menu1-desk .laptop-types-list{
        width: 100%;
        height: auto;
        grid-row: 1 / 3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }
    .menu1-desk .laptop-types-list li{
        width: 100%;
    }
    .menu1-desk .laptop-types-list > .dropdown-header,
    .menu2 > .dropdown-header{
        font-size: 1rem;
        padding: 0rem 1rem 1rem 1rem;
        font-weight: 600;
    }
    .menu1-desk .laptop-types-list .dropdown-item,
    .menu2 .dropdown-item{
        padding: 0.5rem 1rem;
        font-weight: 500 !important;
        border-radius: 15px;   
    }
    .menu1-desk .laptop-types-list .dropdown-item:hover,
    .menu2 .dropdown-item:hover{
        color: #fff;
        background-color: #636b6f;
        transition: background-color 2s, color 1s;
        transform-origin: right;   
    }
    
    .menu-image img{
        position: absolute;
        top: 2rem;
        right: calc((100vw - 437.5px) / 3.5);
        display: none;
        width: 250px;
        height: 200px;
    }
    .menu-image .logo-image{
        display: block;
    }
    .menu-description{
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 1.7;
        padding-top: 2rem;
    }
    .menu-description ul{
        width: 244px;
        display: none;
        position: absolute;
        right: calc((100vw - 427px) / 3.5);
        
    }
    .menu-description ul#default-description{
        display: block;
    }

    .contact{
        max-width: 215px;
    }
    .google-map{
        display: block;
    }
   
}

@media (min-width: 1025px) {        /*  big landscape tablets, laptops, and desktops    */
    .imgpart img {
        width: calc(0.5rem + 7vw);
    }
    .contact{
        max-width: 270.4px;
    }
}@media (min-width:1281px){         /*  hi-res laptops and desktops     */
    .contact{
        max-width: 368px;
    }
}
























